
.showcase__item {
  position: relative;
  display: flex;
  align-items: flex-end;
  height: 100%;
  background-size: cover;
  background-image: #fff;
}
.showcase__item_bg{
  /* position: relative;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0; */
  width: 100%;
  height: 100%;
  z-index: 0;
  object-fit: cover;
}
.showcase__item_technologies{
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 10px;
  display: flex;
  align-items: flex-end;
  height: 100%;
  width: 100%;
  transition: all 0.3s ease;
}
.showcase__item_technologies:hover{
  background-color: rgba(48, 32, 150, 0.1);
}

.techIcon{
  color: #fff;
  margin-right: 5px;
  transition: all 0.3s ease;
}
.techIcon:hover{
  color: #4831d4;
  transform: scale(1.1);
}