article section{
  margin-bottom: 4rem;
}
article section:last-child{
  margin-bottom: 0;
}

.resume-contentside{
  flex: 0 1 75%;
}
.resume-sidebar{
  flex: 0 0 25%;
}

.resume-contentside p{
  max-width: 70%;
}

.resume-info__section{
  display: block;
  margin-bottom: 2rem;
}

.resume-info__section .title{
  font-size: 1.2em;
  line-height: 1.8rem;
  font-weight: 600;
  margin: 0 !important;
  color: #4831d4;
}

.resume-info__section ul {
  list-style: none;
}

.resume-info__section li {
  font-size: 1.1rem;
  padding-left: 10px;
  line-height: 1.8rem;
  color: rgba(71, 71, 71, 0.75);
  position: relative;
}

article section .heading{
  position: relative;
  display: inline-block;
  z-index: 0;
  margin: 0 0 1em!important;
  font-size: 1.424em;
  color: #4831d4;
}

article section .heading::after{
  content: "";
  background: #ccf381;
  height: 0.4em;
  width: 109%;
  display: block;
  margin-top: -0.6rem;
  margin-left: -4%;
  position: absolute;
  z-index: -1;
}

article p{
  font-size: 1.3rem;
  line-height: 2.1rem;
}

.resume-info__section li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  display: inline-block;
  width: 6px;
  height: 6px;
  background-color: rgba(71, 71, 71, 0.75);
}

.resume-info__section:last-child{
  margin-bottom: 0;
}

.name{
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 4.2rem;
  line-height: 1;
  letter-spacing: -0.03em;
  color: #4831d4 ;
}

.profile-summary {
  position: relative;
  margin-bottom: 5rem;
}

.profile-summary::after{
  content: "";
  display: block;
  margin-left: -10%;
  bottom: 0;
  left: 0;
  background-color: #cbc9dd;
  height: 1px;
  width: 120%;
}

.profile-summary h2{
  margin: 0;
  font-weight: 300;
}

.profile-summary p{
  margin: 3em 0 2em;
}

.experience span{
  /* text-decoration: underline; */
  font-weight: 400;
}

.project-showcase__item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.education h2 {
  margin: 0;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.7rem;
  color: rgba(71, 71, 71, 0.75);
}

.education h2 span{
  font-size: 1rem;
}

.projects-wrapper{
  max-width: 75%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
}

@media screen and (max-width: 1650px) {
  .resume-contentside p{
    min-width: 75%;
  }
}
@media screen and (max-width: 1500px) {
  .resume-info__section .title{
    font-size: 1em;
    line-height: 1.6rem;
  }
  .resume-info__section li {
    font-size: .9rem;
    padding-left: 10px;
    line-height: 1.6rem;
    color: rgba(71, 71, 71, 0.75);
    position: relative;
  }
  article section {
    margin-bottom: 3rem;
  }
  .name{
    font-size: 3.8rem;
  }
  .profile-summary {
    margin-bottom: 4rem;
  }
  .profile-summary::after{
    margin-left: -8%;
    height: 1px;
    width: 118%;
  }
  .profile-summary h2{
    font-size: 1.35rem;
  }
  .profile-summary p{
    margin: 2.3em 0 1.8em;
  }
  article p{
    font-size: 1.1rem;
    line-height: 1.8rem;
  }
  article section .heading{
    margin: 0 0 0.9em!important;
    font-size: 1.3em;
  }
  article section .heading::after{
    height: 0.4em;
    width: 108%;
    margin-top: -0.4rem;
    margin-left: -4%;
  }
  .education h2 {
    font-size: 1.3rem;
    line-height: 1.7rem;
  }
  .projects-wrapper {
    max-width: 80%;
    grid-gap: 0.75rem;
  }
}

@media screen and (max-width: 1300px) {
  .resume-info__section .title{
    font-size: .9em;
    line-height: 1.5rem;
  }
  .resume-info__section li {
    font-size: .85rem;
    padding-left: 10px;
    line-height: 1.3rem;
  }
  article section {
    margin-bottom: 2.5rem;
  }

  .profile-summary {
    margin-bottom: 3.2rem;
  }
  .profile-summary::after{
    margin-left: -8%;
    height: 1px;
    width: 118%;
  }
  .name{
    font-size: 3.2rem;
  }
  .profile-summary h2{
    font-size: 1.15rem;
  }
  .profile-summary p{
    margin: 2em 0 1.5em;
  }
  article p{
    font-weight: 300;
    font-size: .85rem;
    line-height: 1.45rem;
  }
  article section .heading{
    margin: 0 0 0.85em!important;
    font-size: 1.1em;
  }
  article section .heading::after{
    height: 0.4em;
    width: 108%;
    margin-top: -0.37rem;
    margin-left: -4%;
  }
  .education h2 {
    font-size: 1.15rem;
    line-height: 1.4rem;
  }
  .projects-wrapper {
    max-width: 80%;
    grid-gap: 0.55rem;
}
}

@media screen and (max-width: 1200px) {
  article section {
    margin-bottom: 2.5rem;
  }
  .resume-contentside{
    padding-left: 10px;
  }
  .experience br {
    display: none;
  }
  .education h2 {
    font-size: 1rem;
    line-height: 1.4rem;
  }
  .projects-wrapper {
    max-width: 85%;
    grid-gap: 0.55rem;
}
}
@media screen and (max-width: 900px) {
  article section {
    margin-bottom: 2rem;
  }
  .projects-wrapper {
    max-width: 95%;
    grid-gap: 0.55rem;
  }
}

@media screen and (max-width: 768px) {
  .resume-contentside{
    padding-left: 0;
  }
  .contact-info{
    display: none;
  }
  .resume-sidebar{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 1.5rem;
    flex-wrap: wrap;
  }
  .resume-info__section{
    padding: 0px 10px;
    margin-bottom: 1rem;
  }
  .resume-info__section li {
    display: inline;
    font-size: .65rem;
    padding-left: 0;
    margin-right: 5px;
    line-height: 1.3rem;
  }
  .resume-info__section li::before {
    display: none;
  }
  .resume-info__section li::after {
    content: ",";
  }
  .resume-info__section li:last-child:after {
    content: ".";
  }
  article section {
    margin-bottom: 2rem;
  }
  .profile-summary {
    margin-bottom: 3.2rem;
  }
  .profile-summary::after {
    margin-left: 0%;
    height: 1px;
    width: 100%;
  }
  article p{
    font-weight: 300;
    font-size: .85rem;
    line-height: 1.35rem;
  }
  article section .heading{
    margin: 0 0 0.85em!important;
    font-size: 1em;
  }
  .education h2 {
    font-size: 1rem;
  }
  .projects-wrapper {
    max-width: 95%;
    grid-gap: 0.55rem;
  }
}
@media screen and (max-width: 550px) {
  .resume-contentside{
    padding-left: 0;
  }
  .resume-contentside p {
    min-width: 95%;
}
  .resume-sidebar{
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 1.5rem;
    flex-wrap: wrap;
  }
  .resume-info__section{
    padding: 0px 0px;
    margin-bottom: 1rem;
  }
  .resume-info__section li {
    display: inline;
    font-size: .65rem;
    padding-left: 0;
    margin-right: 5px;
    line-height: 1.3rem;
  }
  .resume-info__section li::before {
    display: none;
  }
  .resume-info__section li::after {
    content: ",";
  }
  .resume-info__section li:last-child:after {
    content: ".";
  }
  .resume-info__section .title{
    font-size: 0.75rem;
    line-height: 1rem;
  }
  article section {
    margin-bottom: 2rem;
  }
  .profile-summary {
    margin-bottom: 2rem;
  }
  .profile-summary p{
    margin-bottom: 1.5rem;
  }
  .profile-summary h2{
    font-size: .9rem;
  }
  .name{
    font-size: 2.2rem;
  }
  article p{
    font-weight: 300;
    font-size: .72rem;
    line-height: 1.25rem;
  }
  article section .heading{
    margin: 0 0 0.75em!important;
    font-size: .9em;
  }
  .education h2 {
    font-size: 0.8rem;
  }
  .education h2 span{
    font-size: 0.6rem;
  }
  .projects-wrapper {
    max-width: 100%;

    grid-template-columns: 1fr;
    grid-gap: 0.5rem;
  }
}
@media screen and (max-width: 375px) {
  .name{
    font-size: 2rem;
  }
  .education h2 {
    font-size: .67rem;
    line-height: 1.2rem;
  }
}
